body{
    font-family:'Roboto', sans-serif;
    display:flex;
    flex-direction:column;
    margin:0px;    
}

/*header / First section*/
.first-section {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    padding: 0px 250px;
}

.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:16px 0px;
    gap:100px;
}

.header-logo{
    font-size:24px;
    color:#F9FAF8;
}

.header-links{
    display:flex;
    gap:20px;
}

.hero-section{
    display:flex;
    align-items:center;
    padding:100px 0px;
    gap:50px;
}

.hero{    
    font-size:48px;
    color:#F9FAF8;
    font-weight:900;       
}

a, .secondary-text {
    font-size: 18px;
    color: #aeb0b3;
}

#header-img {
    width: 250px;
    height: 250px;
}

button{
    background-color:#3882F6;
    color:white;
    font-size:20px;
    font-weight:600;
    padding:10px 40px;
    margin:15px 0px;
    border-radius:10px;
    border:0px;
}

/*Second section*/

.second-section {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 0px 250px 150px 250px;
    align-items: center;
}

.information-header{
    font-size:36px;
    font-weight:900;
    color:#1F2937;
    padding:50px;
}

.blue-contour-img {
    border: 5px solid #3882F6;
    border-radius: 18px;
    width: 190px;
    height: 190px;
    margin: 10px 0px;
}

.information-images-texts {
    display: flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    gap: 70px;
}

.text-under-img{
    padding:0px 20px;
}

.container {
    width: 200px;
}

/*Third section*/
.third-section {
    background-color: #E5E7EB;
    padding: 150px 250px 100px 250px;
    display:flex;
    justify-content:center;
}

.quote-container {
    display: flex;
    flex-direction: column;
    max-width: 830px;
    min-width: 500px;
}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quote-reference {
    align-self:end;
    font-size: 24px;
    padding:0px 40px;
}

/*Fourth section*/
.fourth-section {
    background-color: white;
}
/*footer*/
.footer {
    display:flex;
    background-color: #1F2937;
    padding:50px 0px;
    justify-content:center;
}